.feature-list{
  display: block;
  margin: 0 auto;
}
.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 94px;
  // padding-bottom: 94px;
}

.container-null {
  padding-bottom: 0;
}

.feature-list__item {
  // width: 450px;
  // width: 270px;
  text-align: center;
  margin-bottom: 30px;
  // text-align: start;
  // margin-left: 30px;
}

.feature-list__item--no-margin {
  margin-left: 0px;
}

.feature-list__icon {
  display: flex;
  width: 450px;
  // width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border: 0;
}

.feature-list__svg {
  margin: auto;
  width: 70px;
  height: 70px;
}


.feature-list__title-head {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  // text-align: start;
}

.feature-list__title-paragraph {
  text-align: center;
  // text-align: start;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}